# Ignore everthing
*

# Except
!.gitignore
!starship.toml
!flake8

!alacritty
!alacritty/**

!gammastep
!gammastep/**

!mako
!mako/**

!nnn
!nnn/**

!nvim
!nvim/**
nvim/plugged/**

!sway
!sway/**

!waybar
!waybar/**

